.page-item--gallery {
  --cols: 3;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(var(--cols), 1fr);

  .gallery-img {
    display: block;
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
  }

  @media (max-width: 1024px) {
    --cols: 2;
  }
  @media (max-width: 640px) {
    --cols: 1;
  }
}
