.cards-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-list:has(> li:first-child:last-child) {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  .card {
    width: calc(100vw - 3rem);
    max-width: 550px;
    margin: 0 auto;
  }
}

.card-list:has(> li:nth-child(2):last-child) {
  grid-template-columns: repeat(2, 1fr);

  .card {
    width: calc(100vw - 3rem);
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
