// Easing curves
$ease-in: cubic-bezier(0.4, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.2, 1);
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

// Durations
$duration-100: 100ms;
$duration-200: 200ms;
$duration-300: 300ms;
$duration-500: 500ms;
$duration-700: 700ms;
$duration-1000: 1000ms;

$motion-ease-map: (
  ease-in: $ease-in,
  ease-out: $ease-out,
  ease-in-out: $ease-in-out,
);

$motion-duration-map: (
  100: $duration-100,
  200: $duration-200,
  300: $duration-300,
  500: $duration-500,
  700: $duration-700,
  1000: $duration-1000,
);

@mixin inject-motion-vars {
  main#app {
    @each $key, $value in $motion-ease-map {
      --ease-#{$key}: #{$value};
    }
    @each $key, $value in $motion-duration-map {
      --duration-#{$key}: #{$value};
    }
  }
}
