@use '../../02-variables/palette' as palette;

/* Site Footer */
.site-footer,
#site-footer {
  height: var(--footer-height);
  background-color: var(--bg);
  border-top: 1px solid var(--rule);

  .footer-content {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: var(--text-muted);
  }
}
